<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="" target="_blank">
        <img src="../../../assets/images/favicon.png" alt="logo">
        <h1>McDonald's™ Vietnam</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Tổng quan cửa hàng" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/dashboard">Thông kê & Theo dõi</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Quản lý sản phẩm" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/product">Danh sách sản phẩm</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Thêm sản phẩm mới</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Quản lý danh mục" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Danh sách danh mục</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Thêm danh mục mới</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Quản lý hóa đơn" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Danh sách hóa đơn</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Thêm hóa đơn mới</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Quản lý người dùng" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Danh sách người dùng</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Thêm người dùng mới</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Quản lý khách hàng" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Danh sách khách hàng</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Quản lý nhóm khác hàng" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Danh sách nhóm khác hàng</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Thêm nhóm khác hàng mới</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>